body {
    font-size: 100%;
    font-family: Calibri, Arial, sans-serif;
    position: relative;
    left: 0;
    overflow-x: hidden;
}
.push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.menu-btn {
    border: none;
    color: #fff;
    display: block;
}
/* .btn:hover, .btn:active {
    background-color: #2980b9;
} */
.backBtn {
    background-color: #2980b9;
    font-size: 16px;
    text-align: right;
}
.backBtn:hover {
    color: #000;
}
.menu-right .backBtn {
    text-align: left;
}
.menu-top .backBtn, .menu-bottom .backBtn {
    text-align: left;
}

.menu {
    
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 280px;
    height: 100%;
}
.menu a {
    display: block;
    color: #fff;
    padding: 16px 0px;
    text-decoration: none;
    position: relative;
    z-index: 11;
}

.menu a:hover, .menu a:active {
    /* background-color: #2980b9; */
}
.menu-left {
    left: -280px;
}
.menu-left.left-open {
    left: 0;
}
.menu-right {
    right: -280px;
}
.menu-right.right-open {
    right: 0;
}
.menu-top {
    width: 100%;
    top: -100%;
}
.menu-top.top-open {
    top: 0;
}
.menu-bottom {
    width: 100%;
    top: 100%;
}
.menu-bottom.bottom-open {
    top: 0;
}
.push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.push-left {
    left: -280px;
}
.push-left.pushleft-open {
    left: 0;
}
.push-toleft {
    left: 280px;
}
.push-right {
    right: -280px;
}
.push-right .backBtn {
    text-align: left;
}
.push-right.pushright-open {
    right: 0;
}
.push-toright {
    left: -280px;
}
.main-menu  a {
    display: flex;
}
.main-menu .text span, .main-menu a{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */

    letter-spacing: -0.25px;

    color: #F9F9F9;
}
.main-menu .image {
    width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}